.chat-home 
  .chat-home-chat-main-top
    .chat-home-chat-main-top__left
      %h.chat-home-chat-main-top__left__title
        = @group.name
      %ul.chat-home-chat-main-top__left__member
        member:
        %li.chat-home-chat-main-top__left__member__name
          - @group.users.each do |user|
            = user.name
    .chat-home-chat-main-top_right
      = link_to 'Edit', edit_group_path(@group.id)
  .chat-home-chat-main
    = render @messages
  .chat-home-chat-bottom
    .chat-home-chat-bottom__box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'chat-home-chat-bottom__box__text', placeholder: 'type a message'
        .chat-home-chat-bottom__box__image
          = f.label :image, class: 'input-box__image' do
            %i.fa.fa-file-picture-o
          = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'chat-home-chat-bottom__box__bottom'
        